.cont button{
    padding: 20px 45px;
    border-radius: 30px;
    background-color: rgb(175, 67, 67);
    border: none;
    color: aliceblue;
}
.cont h1{
    /* float: left; */
}
.reg{
    margin-right: 50%;
  
}
.cont{
    margin-top: 70px;
}

.regular{
    color: brown;
}


.product-list{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
}
.product-list button{
    padding: 20px 45px;
    border-radius: 30px;
    background-color: rgb(175, 67, 67);
    border: none;
    color: aliceblue;
}