body{
    margin-left: 2%;
    margin-right: 2%;
}

.cont button{
    padding: 20px 45px;    
    border-radius: 30px;
    background-color: rgb(175, 67, 67);
    border: none;
    color: aliceblue;

}

.reg{
    display: flex;  
    gap: 100px;
    margin-left: 50px;
}
.reg h1{
    font-size: 50px;

}
reg button{
}
.cont{
    margin-top: 70px;
}

.regular{
    color: brown;
}



.product-list{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    
}

.product-list button{
    /* padding: 20px 45px; */
    /* border-radius: 30px; */
    /* background-color: rgb(175, 67, 67);
    border: none;
    color: aliceblue; */
}